* { box-sizing: border-box; }
:root {
  color-scheme: only light;
  background-color: #ffffff;
  --tg-theme-bg-color: #ffffff;
  --tg-theme-secondary-bg-color: #ffffff;
  --tg-theme-header-bg-color: #ffffff;
  --tg-theme-bottom-bar-bg-color: #ffffff;
}
html, body, #root {
  height: 100%;
  min-height: 100%;
  background-color: #ffffff !important;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  color: #111;
  box-shadow: inset 0 12px 18px -12px rgba(0,0,0,0.12);
}
h2,h3 { margin:12px 0; }
button { cursor:pointer; }
