* { box-sizing: border-box; }
:root {
  color-scheme: only light;
  background-color: #ffffff;
}
html, body, #root {
  height: 100%;
  min-height: 100%;
  background-color: #ffffff !important;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  color: #111;
}
h2,h3 { margin:12px 0; }
button { cursor:pointer; }
